In [1]:
import pandas as pd
import numpy as np

讀檔

In [2]:
df = pd.read_csv('train.csv') 
test = pd.read_csv("test.csv")
submit_example = pd.read_csv("submit_samples.csv")

In [3]:
df

                               mac_hash  sniffer_loc         created_time
0      0003ae8541d0e925fcee242287e2ad27           11  2018-12-07 16:48:08
1      00078611037990f7f36b722f22595fe7            3  2018-12-07 16:29:35
2      00078611037990f7f36b722f22595fe7            2  2018-12-07 16:30:41
3      00078611037990f7f36b722f22595fe7            4  2018-12-07 16:37:06
4      00078611037990f7f36b722f22595fe7            8  2018-12-07 16:37:07
...                                 ...          ...                  ...
41635  fff2ca0333532d6348d5b4fa39028dd4            3  2018-12-07 18:37:37
41636  fff2ca0333532d6348d5b4fa39028dd4           13  2018-12-07 18:47:53
41637  fff2ca0333532d6348d5b4fa39028dd4           12  2018-12-07 18:47:53
41638  fff2ca0333532d6348d5b4fa39028dd4           11  2018-12-07 18:47:54
41639  fff2ca0333532d6348d5b4fa39028dd4            9  2018-12-07 18:47:54

[41640 rows x 3 columns]

In [4]:
test

                               mac_hash  sniffer_loc         created_time
0      00c41469578fb947de736d3a03900772            3  2018-12-06 17:21:18
1      0104474d9c1318b4f58a75fb605f39b2           10  2018-12-06 13:45:11
2      0104474d9c1318b4f58a75fb605f39b2            9  2018-12-06 13:45:11
3      0104474d9c1318b4f58a75fb605f39b2           11  2018-12-06 13:46:15
4      0104474d9c1318b4f58a75fb605f39b2            8  2018-12-06 13:46:15
...                                 ...          ...                  ...
20414  ffe0ad398b4769d715dd73cee58591de           11  2018-12-08 14:55:50
20415  ffe0ad398b4769d715dd73cee58591de           12  2018-12-08 14:55:51
20416  ffe0ad398b4769d715dd73cee58591de            4  2018-12-08 15:03:17
20417  ffe0ad398b4769d715dd73cee58591de            9  2018-12-08 15:14:34
20418  ffe0ad398b4769d715dd73cee58591de           14  2018-12-08 15:26:55

[20419 rows x 3 columns]

同ID整合資料

In [5]:
df['sniffer_loc'] = df['sniffer_loc'].astype(str)
df['sniffer_loc'] = df['sniffer_loc'].apply(lambda x:','+ x)
data1 = df['sniffer_loc'].groupby(df['mac_hash']).sum()
data1= data1.apply(lambda x :[x[1:]])

In [6]:
test['sniffer_loc'] = test['sniffer_loc'].astype(str)
test['sniffer_loc'] = test['sniffer_loc'].apply(lambda x:','+ x)
test1 = test['sniffer_loc'].groupby(test['mac_hash']).sum()
test1= test1.apply(lambda x :[x[1:]])

In [8]:
data1

mac_hash
0003ae8541d0e925fcee242287e2ad27                                  [11]
00078611037990f7f36b722f22595fe7                   [3,2,4,8,6,10,11,5]
000ce31739b333d931813de403156844    [6,8,13,10,11,3,2,7,5,9,1,4,12,14]
0027240b2aeb1f7f3c053c073cafb452        [10,12,13,14,9,7,8,4,2,5,6,11]
0028a89964416dc9a8a66cc7fe25ef4e            [10,4,3,2,6,9,12,13,11,14]
                                                   ...
ffca215be2cb1505d931bd162da60104                [3,5,2,6,4,12,13,10,8]
ffcaf0f29c6bede7b5cd9bc807c31715                           [3,2,4,7,5]
ffd0c4403c3c44dcbe4772821b032252      [6,5,4,2,9,11,8,10,12,13,3,7,14]
ffd7be58ee3c3fb47530ae7e4f251f88                                   [5]
fff2ca0333532d6348d5b4fa39028dd4                     [10,3,13,12,11,9]
Name: sniffer_loc, Length: 6959, dtype: object

In [7]:
data1 = np.array(data1)

In [10]:
test1

mac_hash
001befc6b70649b2c31d3bf9842c0142                                [5]
006f9b3eb4ef8e6b3bbe418a230b369e                                [9]
00701f11a41ddfd6c7878f83547c7f31                               [13]
007375f6f7da2e2ebbc9cb46a454a9d7                             [5,14]
00764e6e16c398d287b653b0dfd9ea84    [3,2,1,5,4,7,10,9,8,11,13,12,6]
                                                 ...
ff560b5ce15f4945d1960013fa457afe                          [7,2,3,4]
ff79639315a87844d8f6fe9887ffce6c                 [11,6,9,8,12,13,3]
ffb29a79ebd3034876cc20c3d553dda6           [2,3,4,5,6,10,11,12,9,8]
ffc4b642af473f02057509a7cbf3d957                          [3,4,2,5]
ffe0ad398b4769d715dd73cee58591de        [5,3,6,2,8,10,11,12,4,9,14]
Name: sniffer_loc, Length: 3429, dtype: object

原資料ID順序不對,groupby之後重新紀錄ID並放入PD

In [8]:
test1_index = []
for row in test1.index:
    test1_index.append(row)

In [9]:
test1 = np.array(test1)

In [15]:
test1

array([list(['5']), list(['9']), list(['13']), ...,
       list(['2,3,4,5,6,10,11,12,9,8']), list(['3,4,2,5']),
       list(['5,3,6,2,8,10,11,12,4,9,14'])], dtype=object)

In [10]:
buffer = df

In [11]:
buffer2 = test

In [12]:
df_without_duplicates = buffer.drop_duplicates(subset=['mac_hash'])
test_without_duplicates = buffer2.drop_duplicates(subset=['mac_hash'])

In [13]:
df_without_duplicates["sniffer_loc"] = data1

<ipython-input-13-ba7a277bb419>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_without_duplicates["sniffer_loc"] = data1

In [14]:
test_without_duplicates["sniffer_loc"] = test1
test_without_duplicates["mac_hash"] = test1_index

<ipython-input-14-6bb6f118fa7f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_without_duplicates["sniffer_loc"] = test1
<ipython-input-14-6bb6f118fa7f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_without_duplicates["mac_hash"] = test1_index

In [21]:
df_without_duplicates

,mac_hash,sniffer_loc,created_time
0,0003ae8541d0e925fcee242287e2ad27,[11],2018-12-07 16:48:08
1,00078611037990f7f36b722f22595fe7,"[3,2,4,8,6,10,11,5]",2018-12-07 16:29:35
9,000ce31739b333d931813de403156844,"[6,8,13,10,11,3,2,7,5,9,1,4,12,14]",2018-12-06 14:44:29
23,0027240b2aeb1f7f3c053c073cafb452,"[10,12,13,14,9,7,8,4,2,5,6,11]",2018-12-08 13:46:25
35,0028a89964416dc9a8a66cc7fe25ef4e,"[10,4,3,2,6,9,12,13,11,14]",2018-12-08 10:54:12
...,...,...,...
41606,ffca215be2cb1505d931bd162da60104,"[3,5,2,6,4,12,13,10,8]",2018-12-07 17:02:59
41615,ffcaf0f29c6bede7b5cd9bc807c31715,"[3,2,4,7,5]",2018-12-07 15:39:21
41620,ffd0c4403c3c44dcbe4772821b032252,"[6,5,4,2,9,11,8,10,12,13,3,7,14]",2018-12-08 16:45:22
41633,ffd7be58ee3c3fb47530ae7e4f251f88,[5],2018-12-08 16:46:46
41634,fff2ca0333532d6348d5b4fa39028dd4,"[10,3,13,12,11,9]",2018-12-07 18:35:59

In [22]:
test_without_duplicates

,mac_hash,sniffer_loc,created_time
0,001befc6b70649b2c31d3bf9842c0142,[5],2018-12-06 17:21:18
1,006f9b3eb4ef8e6b3bbe418a230b369e,[9],2018-12-06 13:45:11
11,00701f11a41ddfd6c7878f83547c7f31,[13],2018-12-06 13:46:37
12,007375f6f7da2e2ebbc9cb46a454a9d7,"[5,14]",2018-12-06 19:24:11
20,00764e6e16c398d287b653b0dfd9ea84,"[3,2,1,5,4,7,10,9,8,11,13,12,6]",2018-12-06 16:19:01
...,...,...,...
20380,ff560b5ce15f4945d1960013fa457afe,"[7,2,3,4]",2018-12-08 13:41:36
20393,ff79639315a87844d8f6fe9887ffce6c,"[11,6,9,8,12,13,3]",2018-12-08 12:49:50
20394,ffb29a79ebd3034876cc20c3d553dda6,"[2,3,4,5,6,10,11,12,9,8]",2018-12-08 14:00:29
20398,ffc4b642af473f02057509a7cbf3d957,"[3,4,2,5]",2018-12-08 13:35:52
20408,ffe0ad398b4769d715dd73cee58591de,"[5,3,6,2,8,10,11,12,4,9,14]",2018-12-08 10:08:09

In [15]:
label = pd.read_csv('training-label.csv')

In [24]:
label

                              mac_hash  label
0     10f6ad2e3fa3b3da8ceb3fbd95658681      4
1     5272841b630d74290ec129c64dd6378b      0
2     8ab74d094708a27c9660e897b93a50f9      3
3     3d00887dd6e574dd63974bc6c69b23b0      1
4     6461fce7f6f184401c961fda75069262      1
...                                ...    ...
6954  a3a539edc2df183bb9725110ced88721      0
6955  9d05e643d82f44305ad7ab8e04a9c755      2
6956  a74d4fd585937277f7fc131ae8be61a5      2
6957  cacf92cf30cc0cf81063f267e7513b66      2
6958  0fd06086be3a241a360306ce70ac4224      0

[6959 rows x 2 columns]

In [16]:
df_without_duplicates["label"] = np.array(0)

<ipython-input-16-9fdb14f320df>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_without_duplicates["label"] = np.array(0)

In [26]:
df_without_duplicates

,mac_hash,sniffer_loc,created_time,label
0,0003ae8541d0e925fcee242287e2ad27,[11],2018-12-07 16:48:08,0
1,00078611037990f7f36b722f22595fe7,"[3,2,4,8,6,10,11,5]",2018-12-07 16:29:35,0
9,000ce31739b333d931813de403156844,"[6,8,13,10,11,3,2,7,5,9,1,4,12,14]",2018-12-06 14:44:29,0
23,0027240b2aeb1f7f3c053c073cafb452,"[10,12,13,14,9,7,8,4,2,5,6,11]",2018-12-08 13:46:25,0
35,0028a89964416dc9a8a66cc7fe25ef4e,"[10,4,3,2,6,9,12,13,11,14]",2018-12-08 10:54:12,0
...,...,...,...,...
41606,ffca215be2cb1505d931bd162da60104,"[3,5,2,6,4,12,13,10,8]",2018-12-07 17:02:59,0
41615,ffcaf0f29c6bede7b5cd9bc807c31715,"[3,2,4,7,5]",2018-12-07 15:39:21,0
41620,ffd0c4403c3c44dcbe4772821b032252,"[6,5,4,2,9,11,8,10,12,13,3,7,14]",2018-12-08 16:45:22,0
41633,ffd7be58ee3c3fb47530ae7e4f251f88,[5],2018-12-08 16:46:46,0
41634,fff2ca0333532d6348d5b4fa39028dd4,"[10,3,13,12,11,9]",2018-12-07 18:35:59,0

主要思路為設置15col 並依序放入 沒經過的補0

In [17]:
y = 0
for i in label['mac_hash']:
    index = df_without_duplicates.loc[df_without_duplicates['mac_hash'] == i].index[0]
    df_without_duplicates['label'][index] =  label['label'][y]
    y+=1

<ipython-input-17-f011a9f472d6>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_without_duplicates['label'][index] =  label['label'][y]
C:\Users\richard\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3437: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [18]:
df_without_duplicates = df_without_duplicates.drop(["created_time"],axis = 1)

In [19]:
df_without_duplicates = df_without_duplicates.reset_index(drop=True)

In [20]:
buffer = {"mac_hash":[],"1":[],"2":[],"3":[],"4":[],"5":[],"6":[],"7":[],"8":[],"9":[],"10":[],"11":[],"12":[],"13":[],"14":[],"15":[]}
data_with_15 = pd.DataFrame(buffer)
data_with_15['mac_hash'] = df_without_duplicates['mac_hash']

In [34]:
data_with_15

,mac_hash,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0003ae8541d0e925fcee242287e2ad27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00078611037990f7f36b722f22595fe7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000ce31739b333d931813de403156844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0027240b2aeb1f7f3c053c073cafb452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0028a89964416dc9a8a66cc7fe25ef4e,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6954,ffca215be2cb1505d931bd162da60104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6955,ffcaf0f29c6bede7b5cd9bc807c31715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6956,ffd0c4403c3c44dcbe4772821b032252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6957,ffd7be58ee3c3fb47530ae7e4f251f88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6958,fff2ca0333532d6348d5b4fa39028dd4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
  y = 0
  for j in df_without_duplicates['sniffer_loc']: 
    buffer = j[0].split(',')    
    for i in range(len(buffer)):        
        pos = str(i+1)
        data_with_15[pos][y] = int(buffer[i])
    y+=1

<ipython-input-21-f3752db45270>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_with_15[pos][y] = int(buffer[i])

In [22]:
data_with_15 = data_with_15.fillna(0)

In [37]:
data_with_15

,mac_hash,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0003ae8541d0e925fcee242287e2ad27,11.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,00078611037990f7f36b722f22595fe7,3.0,2.0,4.0,8.0,6.0,10.0,11.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,000ce31739b333d931813de403156844,6.0,8.0,13.0,10.0,11.0,3.0,2.0,7.0,5.0,9.0,1.0,4.0,12.0,14.0,0.0
3,0027240b2aeb1f7f3c053c073cafb452,10.0,12.0,13.0,14.0,9.0,7.0,8.0,4.0,2.0,5.0,6.0,11.0,0.0,0.0,0.0
4,0028a89964416dc9a8a66cc7fe25ef4e,10.0,4.0,3.0,2.0,6.0,9.0,12.0,13.0,11.0,14.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6954,ffca215be2cb1505d931bd162da60104,3.0,5.0,2.0,6.0,4.0,12.0,13.0,10.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0
6955,ffcaf0f29c6bede7b5cd9bc807c31715,3.0,2.0,4.0,7.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6956,ffd0c4403c3c44dcbe4772821b032252,6.0,5.0,4.0,2.0,9.0,11.0,8.0,10.0,12.0,13.0,3.0,7.0,14.0,0.0,0.0
6957,ffd7be58ee3c3fb47530ae7e4f251f88,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6958,fff2ca0333532d6348d5b4fa39028dd4,10.0,3.0,13.0,12.0,11.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
test_without_duplicates = test_without_duplicates.drop(["created_time"],axis = 1)
test_without_duplicates = test_without_duplicates.reset_index(drop=True)

In [39]:
test_without_duplicates

                              mac_hash                      sniffer_loc
0     001befc6b70649b2c31d3bf9842c0142                              [5]
1     006f9b3eb4ef8e6b3bbe418a230b369e                              [9]
2     00701f11a41ddfd6c7878f83547c7f31                             [13]
3     007375f6f7da2e2ebbc9cb46a454a9d7                           [5,14]
4     00764e6e16c398d287b653b0dfd9ea84  [3,2,1,5,4,7,10,9,8,11,13,12,6]
...                                ...                              ...
3424  ff560b5ce15f4945d1960013fa457afe                        [7,2,3,4]
3425  ff79639315a87844d8f6fe9887ffce6c               [11,6,9,8,12,13,3]
3426  ffb29a79ebd3034876cc20c3d553dda6         [2,3,4,5,6,10,11,12,9,8]
3427  ffc4b642af473f02057509a7cbf3d957                        [3,4,2,5]
3428  ffe0ad398b4769d715dd73cee58591de      [5,3,6,2,8,10,11,12,4,9,14]

[3429 rows x 2 columns]

In [24]:
buffer = {"mac_hash":[],"1":[],"2":[],"3":[],"4":[],"5":[],"6":[],"7":[],"8":[],"9":[],"10":[],"11":[],"12":[],"13":[],"14":[],"15":[]}
test_with_15 = pd.DataFrame(buffer)
test_with_15['mac_hash'] = test1_index

In [41]:
test_with_15

,mac_hash,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,001befc6b70649b2c31d3bf9842c0142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,006f9b3eb4ef8e6b3bbe418a230b369e,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,00701f11a41ddfd6c7878f83547c7f31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,007375f6f7da2e2ebbc9cb46a454a9d7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,00764e6e16c398d287b653b0dfd9ea84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3424,ff560b5ce15f4945d1960013fa457afe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3425,ff79639315a87844d8f6fe9887ffce6c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3426,ffb29a79ebd3034876cc20c3d553dda6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3427,ffc4b642af473f02057509a7cbf3d957,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3428,ffe0ad398b4769d715dd73cee58591de,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
test_without_duplicates

                              mac_hash                      sniffer_loc
0     001befc6b70649b2c31d3bf9842c0142                              [5]
1     006f9b3eb4ef8e6b3bbe418a230b369e                              [9]
2     00701f11a41ddfd6c7878f83547c7f31                             [13]
3     007375f6f7da2e2ebbc9cb46a454a9d7                           [5,14]
4     00764e6e16c398d287b653b0dfd9ea84  [3,2,1,5,4,7,10,9,8,11,13,12,6]
...                                ...                              ...
3424  ff560b5ce15f4945d1960013fa457afe                        [7,2,3,4]
3425  ff79639315a87844d8f6fe9887ffce6c               [11,6,9,8,12,13,3]
3426  ffb29a79ebd3034876cc20c3d553dda6         [2,3,4,5,6,10,11,12,9,8]
3427  ffc4b642af473f02057509a7cbf3d957                        [3,4,2,5]
3428  ffe0ad398b4769d715dd73cee58591de      [5,3,6,2,8,10,11,12,4,9,14]

[3429 rows x 2 columns]

In [25]:
submit_example = submit_example.drop(["C1","C2","C3","C4"],axis = 1)
submit_example.columns = ['mac_hash','sniffer_loc']

In [26]:
y = 0
for i in submit_example['mac_hash']:
    index = test_without_duplicates.loc[test_without_duplicates['mac_hash'] == i].index[0]    
    submit_example['sniffer_loc'][y] =  test_without_duplicates['sniffer_loc'][index]
    y+=1

<ipython-input-26-335ef5b7b3a1>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  submit_example['sniffer_loc'][y] =  test_without_duplicates['sniffer_loc'][index]
C:\Users\richard\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [27]:
test_without_duplicates = submit_example

In [46]:
test_without_duplicates

                              mac_hash                  sniffer_loc
0     b882f1d44602a25349a08f4a0af32977                [5,6,13,9,12]
1     86e644b498922f3a2fd0e6e1a1525de3  [2,4,6,3,5,8,9,12,10,11,14]
2     691662b04ee08015062d901a4c5628b1                         [12]
3     52b5c510a28774237f4f118764c2ed6f                      [5,3,2]
4     9f3c995e53d109f532056b6eae29a0b5             [8,10,11,14,2,3]
...                                ...                          ...
3424  5001c0dfe522886ed884c0dc4e5848df                          [3]
3425  f1c8781e701e89068fa0b8a62ecbc564     [2,4,5,9,3,6,8,11,13,12]
3426  646136b402e136422466a2acd8636630                        [5,7]
3427  c7bea6491029f86ab3d1f0f9b599ca2c                 [7,12,11,13]
3428  822fd3104f38cc6374f2996d3d6920a2                          [2]

[3429 rows x 2 columns]

In [28]:
y = 0
for j in test_without_duplicates['sniffer_loc']: 
    buffer = j[0].split(',')    
    for i in range(len(buffer)):        
        pos = str(i+1)
        test_with_15[pos][y] = int(buffer[i])
    y+=1

<ipython-input-28-f7a9cb3918eb>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_with_15[pos][y] = int(buffer[i])

In [29]:
test_with_15 = test_with_15.fillna(0)

In [49]:
test_with_15

,mac_hash,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,001befc6b70649b2c31d3bf9842c0142,5.0,6.0,13.0,9.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,006f9b3eb4ef8e6b3bbe418a230b369e,2.0,4.0,6.0,3.0,5.0,8.0,9.0,12.0,10.0,11.0,14.0,0.0,0.0,0.0,0.0
2,00701f11a41ddfd6c7878f83547c7f31,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,007375f6f7da2e2ebbc9cb46a454a9d7,5.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,00764e6e16c398d287b653b0dfd9ea84,8.0,10.0,11.0,14.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3424,ff560b5ce15f4945d1960013fa457afe,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3425,ff79639315a87844d8f6fe9887ffce6c,2.0,4.0,5.0,9.0,3.0,6.0,8.0,11.0,13.0,12.0,0.0,0.0,0.0,0.0,0.0
3426,ffb29a79ebd3034876cc20c3d553dda6,5.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3427,ffc4b642af473f02057509a7cbf3d957,7.0,12.0,11.0,13.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3428,ffe0ad398b4769d715dd73cee58591de,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [50]:
test_without_duplicates

                              mac_hash                  sniffer_loc
0     b882f1d44602a25349a08f4a0af32977                [5,6,13,9,12]
1     86e644b498922f3a2fd0e6e1a1525de3  [2,4,6,3,5,8,9,12,10,11,14]
2     691662b04ee08015062d901a4c5628b1                         [12]
3     52b5c510a28774237f4f118764c2ed6f                      [5,3,2]
4     9f3c995e53d109f532056b6eae29a0b5             [8,10,11,14,2,3]
...                                ...                          ...
3424  5001c0dfe522886ed884c0dc4e5848df                          [3]
3425  f1c8781e701e89068fa0b8a62ecbc564     [2,4,5,9,3,6,8,11,13,12]
3426  646136b402e136422466a2acd8636630                        [5,7]
3427  c7bea6491029f86ab3d1f0f9b599ca2c                 [7,12,11,13]
3428  822fd3104f38cc6374f2996d3d6920a2                          [2]

[3429 rows x 2 columns]

In [51]:
df_without_duplicates

,mac_hash,sniffer_loc,label
0,0003ae8541d0e925fcee242287e2ad27,[11],0
1,00078611037990f7f36b722f22595fe7,"[3,2,4,8,6,10,11,5]",1
2,000ce31739b333d931813de403156844,"[6,8,13,10,11,3,2,7,5,9,1,4,12,14]",3
3,0027240b2aeb1f7f3c053c073cafb452,"[10,12,13,14,9,7,8,4,2,5,6,11]",4
4,0028a89964416dc9a8a66cc7fe25ef4e,"[10,4,3,2,6,9,12,13,11,14]",4
...,...,...,...
6954,ffca215be2cb1505d931bd162da60104,"[3,5,2,6,4,12,13,10,8]",4
6955,ffcaf0f29c6bede7b5cd9bc807c31715,"[3,2,4,7,5]",1
6956,ffd0c4403c3c44dcbe4772821b032252,"[6,5,4,2,9,11,8,10,12,13,3,7,14]",4
6957,ffd7be58ee3c3fb47530ae7e4f251f88,[5],0
6958,fff2ca0333532d6348d5b4fa39028dd4,"[10,3,13,12,11,9]",2

In [52]:
submit_example

                              mac_hash                  sniffer_loc
0     b882f1d44602a25349a08f4a0af32977                [5,6,13,9,12]
1     86e644b498922f3a2fd0e6e1a1525de3  [2,4,6,3,5,8,9,12,10,11,14]
2     691662b04ee08015062d901a4c5628b1                         [12]
3     52b5c510a28774237f4f118764c2ed6f                      [5,3,2]
4     9f3c995e53d109f532056b6eae29a0b5             [8,10,11,14,2,3]
...                                ...                          ...
3424  5001c0dfe522886ed884c0dc4e5848df                          [3]
3425  f1c8781e701e89068fa0b8a62ecbc564     [2,4,5,9,3,6,8,11,13,12]
3426  646136b402e136422466a2acd8636630                        [5,7]
3427  c7bea6491029f86ab3d1f0f9b599ca2c                 [7,12,11,13]
3428  822fd3104f38cc6374f2996d3d6920a2                          [2]

[3429 rows x 2 columns]

In [47]:
from xgboost import XGBClassifier
import xgboost as xgb

In [29]:
x = data_with_15
x = x.drop(["mac_hash"],axis = 1)
y = df_without_duplicates['label']

In [125]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import log_loss, make_scorer

xgboost Hyperparameter

In [168]:
cv_params = {}
other_params = {'learning_rate': 0.25, 'n_estimators': 940, 'max_depth': 2, 'min_child_weight': 1, 'seed': 0,
                    'subsample': 0.7, 'colsample_bytree': 0.2, 'gamma': 0.1, 'reg_alpha': 0.05, 'reg_lambda': 1,'objective':'multi:softprob','eval_metric':'mlogloss','gpu_id':0,'base_score':0.2,'max_delta_step':0.3,'tree_method':'approx'}
original_parms = {'learning_rate': 0.300000012, 'n_estimators': 100, 'max_depth': 6, 'min_child_weight': 1, 'seed': 0,
                    'subsample': 1, 'colsample_bytree':1, 'gamma': 0, 'reg_alpha': 0, 'reg_lambda': 1,'objective':'multi:softmax','eval_metric':'logloss','gpu_id':0,'tree_method':'exact'}

model = xgb.XGBClassifier(**other_params)
LogLoss = make_scorer(log_loss, greater_is_better=False, needs_proba=True)
optimized_GBM = GridSearchCV(estimator=model, param_grid=cv_params, scoring=LogLoss, cv=20, verbose=1, n_jobs=4)
optimized_GBM.fit(x, y)
evalute_result = optimized_GBM.cv_results_
print('每轮迭代运行结果:{0}'.format(evalute_result))
print('参数的最佳取值：{0}'.format(optimized_GBM.best_params_))
print('最佳模型得分:{0}'.format(optimized_GBM.best_score_))

Fitting 20 folds for each of 1 candidates, totalling 20 fits
C:\Users\richard\anaconda3\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
每轮迭代运行结果:{'mean_fit_time': array([5.22661037]), 'std_fit_time': array([0.19963125]), 'mean_score_time': array([0.00620561]), 'std_score_time': array([0.00060046]), 'params': [{}], 'split0_test_score': array([-0.06420154]), 'split1_test_score': array([-0.1290149]), 'split2_test_score': array([-0.07981894]), 'split3_test_score': array([-0.06517098]), 'split4_test_score': array([-0.0652214]), 'split5_test_score': array([-0.10819342]), 'split6_test_score': array([-0.08204453]), 'split7_test_score': array([-0.07375777]), 'split8_test_score': array([-0.08250679]), 'split9_test_score': array([-0.04767598]), 'split10_test_score': array([-0.09083264]), 'split11_test_score': array([-0.08588844]), 'split12_test_score': array([-0.08162544]), 'split13_test_score': array([-0.0571852]), 'split14_test_score': array([-0.10847335]), 'split15_test_score': array([-0.09135294]), 'split16_test_score': array([-0.07711582]), 'split17_test_score': array([-0.05534216]), 'split18_test_score': array([-0.0760933]), 'split19_test_score': array([-0.07458867]), 'mean_test_score': array([-0.07980521]), 'std_test_score': array([0.01904527]), 'rank_test_score': array([1])}
参数的最佳取值：{}
最佳模型得分:-0.07980521027627425

In [219]:
#fc = xgb.XGBClassifier(objective='multi:softprob',eval_metric='logloss',gpu_id=0)
fc = xgb.XGBClassifier(objective='multi:softprob',eval_metric='mlogloss',gpu_id=0, learning_rate = 0.25, n_estimators=940,max_depth =2,min_child_weight =1,subsample=0.7,colsample_bytree=0.2,gamma=0.1,reg_alpha=0.05,reg_lambda=1,base_score=0.2,max_delta_step=0.3,tree_method='approx')

In [220]:
fc.fit(x,y)

C:\Users\richard\anaconda3\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

XGBClassifier(base_score=0.2, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.2, eval_metric='logloss',
              gamma=0.1, gpu_id=0, importance_type='gain',
              interaction_constraints='', learning_rate=0.25,
              max_delta_step=0.3, max_depth=2, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=940, n_jobs=16,
              num_parallel_tree=1, objective='multi:softprob', random_state=0,
              reg_alpha=0.05, reg_lambda=1, scale_pos_weight=None,
              subsample=0.7, tree_method='approx', validate_parameters=1,
              verbosity=None)

In [31]:
test = test_with_15.drop(["mac_hash"],axis = 1)

In [221]:
result = fc.predict_proba(test)

In [175]:
np.set_printoptions(suppress=True)

In [212]:
result[1]

array([0.00000002, 0.00000257, 0.00000001, 0.00622748, 0.99376994],
      dtype=float32)

In [213]:
len(result)

3429

In [222]:
data ={"mac_hash":[],"C0":[],"C1":[],"C2":[],"C3":[],"C4":[]}
submit = pd.DataFrame(data)

In [223]:
submit['mac_hash'] = submit_example['mac_hash']

In [224]:
for i in range(len(submit['mac_hash'])):    
    submit["C0"][i] = result[i][0]
    submit["C1"][i] = result[i][1]
    submit["C2"][i] = result[i][2]
    submit["C3"][i] = result[i][3]
    submit["C4"][i] = result[i][4]

<ipython-input-224-6890f48a4d3d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  submit["C0"][i] = result[i][0]
<ipython-input-224-6890f48a4d3d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  submit["C1"][i] = result[i][1]
<ipython-input-224-6890f48a4d3d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  submit["C2"][i] = result[i][2]
<ipython-input-224-6890f48a4d3d>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  submit["C3"][i] = result[i][3]
<ipython-input-224-6890f48a4d3d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  submit["C4"][i] = result[i][4]

In [62]:
pd.set_option('display.float_format',lambda x : '%.20f' % x)

In [225]:
submit = submit.set_index("mac_hash")

In [226]:
submit.to_csv("submit_logloss.csv", float_format='%f')

In [35]:
from  catboost import CatBoostClassifier, Pool, cv

In [36]:
cat = CatBoostClassifier(loss_function='MultiClass',task_type="GPU", learning_rate=0.01)

In [37]:
cat.fit(x,y,verbose=False,plot=True)

MetricVisualizer(layout=Layout(align_self='stretch', height='500px'))

In [255]:
cat_result = cat.predict_proba(test)

array([0.00000247, 0.00001505, 0.00000284, 0.01587778, 0.98410186])